* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    background-color: #0F0D0D;
}

.page1 {
    height: 100vh;
    width: 100%;
}

.nav {
    height: 60px;
    width: 100%;
    background-color: red;
}